<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Config</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Edit Config</h1>
        <form action="/configs/{{ config_id }}" method="post">
            <div class="form-group">
                <label for="version">Version</label>
                <input type="text" class="form-control" id="version" name="version" value="{{ config.version }}" required>
            </div>
            <div class="form-group">
                <label for="prompt_template">Prompt Template</label>
                <textarea class="form-control" id="prompt_template" name="prompt_template" rows="15" required>{{ config.prompt_template }}</textarea>
            </div>
            <div class="form-group">
                <label for="prompt_template">Example Prompt Template</label>
                <textarea class="form-control" id="prompt_template" name="prompt_template" rows="12" disabled>{{ example_prompt_template }}</textarea>
            </div>
            <div class="form-group">
                <label for="temperature">Temperature</label>
                <input type="number" step="0.01" class="form-control" id="temperature" name="temperature" value="{{ config.temperature }}" required>
            </div>
            <div class="form-group">
                <label for="short_memory_length">Short Memory Length</label>
                <input type="number" class="form-control" id="short_memory_length" name="short_memory_length" value="{{ config.short_memory_length }}" required>
            </div>
            <div class="form-group">
                <label for="long_memory_length">Long Memory Length</label>
                <input type="number" class="form-control" id="long_memory_length" name="long_memory_length" value="{{ config.long_memory_length }}" required>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
